// Sessao Referencias

.s_ref{
    .wrapper{
        padding: 100px 0;
    }

    // padding: 100px 0;
    background-color: #675997;

    // text-align: center;
}


.s_ref-filme{
    h2{
        text-align: center;
        padding-top: 10%;
    }

    h3{
        margin-bottom: 1rem;
        padding-top: 4rem;
    }

    a{
        line-height: 2;
    }
    padding: 60px 0;
}

